/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:98%;font-family: 'Open Sans', sans-serif;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
padding:0;
margin:0;
	font-family: 'Josefin Slab', serif;
	background:rgba(37, 52, 125, 0.87);
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.content{
	padding: 4em 0;
}
.content h1{
	text-align: center;
	font-size:30px;
	color:#fff;
}
.main{
	width: 400px;
	height: 350px;
	background: #6C75B6;
	margin: 10px auto;
	border: 1px solid #565C84;
	padding: 5px 5px;
	border-radius: 7px 7px;
}
.header{
	width: 100%;
	height: 47px;
	background: #131137;
	/*border-bottom: 1px solid #eee;*/
}
.profile{
	margin: 5px 0 0 5px;	
	color: #fff;
	float: left;
}
.profile img{
	width: 40px;
	height: 40px;
	border-radius: 20px 20px;
	float: left;
}
.profile label{
	margin: 10px 0 0 5px;
	float: right;
	text-align: center;
}
.logout{
	width: 80px;
	padding: 14px 15px;
	display: block;
	float: right;	
	text-align: center;
	background: #C21128;	
}
.logout a{
	color: #fff;
}
.logout:hover{
	background: #B20A0A;
}
.chat-body{
	/*padding: 2px 2px;*/
}
.create-panel{
	width: 100%;
	height: 30px;
	margin: 5px 0 0 0;
	/*border-bottom: 1px solid #999;*/
	
}
.create-panel input[type='text']{
	width: 286px;
	height: 25px;
	float: left;
}
.create-panel button{
	height: 31px;
	width: 111px;
	background: #1A864B;
	color: #fff;
	border: none;
	margin: 0 0 0 -5px;
	float: right;
}
.create-panel button:hover{
	cursor: pointer;
	background: #227C44;
}
.title-list{
	width: 400px;
	height: 210px;
	/*border: 1px solid #999;*/
	background: #13386B;
	margin: 0 0;
}
.title-list li{
	display: block;
	padding: 5px 5px;
	color: #eee;
	border-bottom: 1px solid #244580;
	/*background: #3566A4;*/
	/*font-weight: bold;*/
}
.title-list li:hover{
	background: #244580;
	/*color: #13386B;*/
}	